<style>
a {
  text-decoration: none;
}
a:visited {color: black}

a {
  background-size: 100% .4rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(transparent 4px, rgba(0, 0, 0, .125) 4px);
}

a:hover {
  background-size: 100% .4rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(transparent 4px, #2C8AF7 4px);
}

/* a subset of minions.css. more at minions.style */
.ff-sans{font-family:Athelas,Georgia,serif}
.lst-n{list-style-type:none}
.pl-0{padding-left:0}
.fs-1e{font-size:1em}
.xw-700p{max-width:700px}
.m-0a{margin:0 auto}
.mt-4r{margin-top:4rem}
.mb-3r{margin-bottom:3rem}
</style>
