<style>
a {
  text-decoration: none;
}
a:visited {color: black}

a {
  background-size: 100% .4rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(transparent 4px, rgba(0, 0, 0, .125) 4px);
}

a:hover {
  background-size: 100% .4rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(transparent 4px, #2C8AF7 4px);
}

code { font-size: .9rem }
figure {
  margin: 1rem 0;
  padding: 0 2.5rem;
  border-left: .25rem solid #eee;
}

.post-content h3 {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 800;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

/* a subset of minions.css. more at minions.style */
.ff-serif{font-family:Athelas,Georgia,serif}
.ff-sans-serif{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Helvetica,sans-serif}
.fs-20p{font-size:16px}
.lh-1\.5{line-height:1.5}
.ls-\.0025e{letter-spacing:.0025em}
.fw-800{font-weight:800}
.lst-n{list-style-type:none}
.pl-0{padding-left:0}
.fs-1e{font-size:1em}
.xw-700p{max-width:700px}
.m-0a{margin:0 auto}
.mt-4r{margin-top:4rem}
.mb-3r{margin-bottom:3rem}
.px-1r{padding-right:1rem;padding-left: 1rem}
</style>
