---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 class="mt-4r mb-3r fs-1e ff-sans-serif fw-800" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p>
      {% if page.author %}
        •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
